@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --ft-primary: 'Poppins', sans-serif;
  --clr-base: #191724;
  --clr-surface: #1f1d2e;
  --clr-overlay: #26233a;
  --clr-muted: #6e6a86;
  --clr-subtle: #908caa;
  --clr-text: #e0def4;
  --clr-love: #eb6f92;
  --clr-gold: #f6c177;
  --clr-rose: #ebbcba;
  --clr-pine: #31748f;
  --clr-foam: #9ccfd8;
  --clr-iris: #c4a7e7;
  --clr-hl-low: #21202e;
  --clr-hl-med: #403d52;
  --clr-hl-high: #524f67;
}

body {
  color: var(--clr-text);
  font-family: var(--ft-primary);
  font-weight: 300;
  background-color: var(--clr-base);
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.nav,
.header {
  width: 90%;
  max-width: 1150px;
  margin-inline: auto;
}

.nav {
  margin-block: 3rem;
}

.nav__link::before {
  content: '←';
  padding-right: 0.5rem;
}

.nav__link {
  color: var(--clr-text);
  text-decoration: none;
  background-color: var(--clr-hl-med);
  border-radius: 100vh;
  padding: 0.5rem 1rem;
}

.nav__link:hover {
  background-color: var(--clr-hl-high);
}

.header {
  margin-block: 3rem 3rem;
}

.title--main {
  text-align: center;
}

.title--chapter {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
}

.title--exercise {
  color: var(--clr-iris);
  font-size: 2rem;
  font-weight: 400;
}

.main {
  margin-block: 3rem;
  width: 90%;
  max-width: 1150px;
  margin-inline: auto;
}

.chapter__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.chapter__item {
  font-size: 1.1rem;
  background-color: var(--clr-surface);
  border-radius: 1rem;
  padding: 2rem;
}

.exercise__item::before {
  content: '▹';
  color: var(--clr-iris);
}

.exercise__item {
  color: var(--clr-text);
  font-size: 0.9rem;
  font-weight: 300;
}

.exercise__link {
  color: var(--clr-subtle);
  text-decoration: none;
}

.exercise__link:hover {
  color: var(--clr-text);
}

.note {
  font-weight: 300;
  border-radius: 1rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.note--warning {
  color: var(--clr-gold);
  background-color: hsla(35, 88%, 72%, 0.1);
}

.note--info {
  color: var(--clr-foam);
  background-color: hsla(189, 43%, 73%, 0.1);
}

.note--info::before {
  content: 'ⓘ';
  font-size: 1.25rem;
  padding-right: 0.5rem;
}

.c-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section {
  background-color: var(--clr-surface);
  border-radius: 1rem;
  padding: 2rem;
}

.section__title {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.form--triangle {
  display: inline-block;
  color: var(--clr-text);
  background-color: var(--clr-overlay);
  border: 1px solid var(--clr-hl-high);
  border-radius: 100vh;
  padding: 0.5rem 1.5rem;
}

.form--error {
  border-color: var(--clr-love);
}

.form__input--triangle {
  width: 2rem;
  color: inherit;
  background-color: transparent;
  border: 1px solid transparent;
  -moz-appearance: textfield;
}

.form__input--triangle:focus {
  outline: none;
}

.form__input--triangle::-webkit-inner-spin-button,
.form__input--triangle::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form__submit-btn {
  color: var(--clr-subtle);
  text-transform: uppercase;
  background-color: var(--clr-overlay);
  border: 1px solid var(--clr-hl-high);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.form__submit-btn:hover {
  background-color: var(--clr-hl-low);
}

.triangle__row {
  margin-bottom: 1rem;
}

.hash {
  color: var(--clr-foam);
  font-size: 0.9rem;
  border: 1px solid var(--clr-hl-high);
  background-color: var(--clr-overlay);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
}
